

body {
  background-image: url(blowjob.png);
  background-repeat:repeat;

  margin: 0; 
}

h1, p, p1 {
  color:white;
}


.container {
  width: 100%;
 
  margin: 0 auto;
  
  position: relative;
 
}

.side-bg {
  position: absolute;
  

 
  background-image: url('border.png');
  background-repeat: repeat-y;
  top: 115.367px;
}

.left-bg {
  left: 0;
  width: 180px;
  height: 90vh;
}

.right-bg {
  right:0;
  width: 180px;
  height: 90vh;
}

.content {
  background-color: #fff;
  
}

image {
  margin: 0 auto;
  padding-top:100px;
}

.piracy {
  border: solid;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  
  background-color: #000000;
  display: flex;
  max-width: 716px;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  
}

ul li a:hover:not(.active) {
  background-image:url(hover.gif)
}

ul li a.active {
  background-color: #04AA6D;
}